#main {
  text-align: center;
}

button {
  margin: 5px !important;
}



#output {
  border: none;
  height: 100%;
  min-height: 35rem;
  max-height: 50vh;
  width: 100%;
  overflow: auto;
  background-color: transparent;


}


li {
  list-style-type: none;
}